* {
    font-family: 'Roboto' sans-serif !important;
    font-weight: 400;
}

/* h1,
h2,
h3,
h4,
h5,
p,
span,
a,
button,
input {
    font-family: 'Roboto', sans-serif !important;    
} */

sup {
    color: #f00;
    font-size: 15px;
}

/* global */

#content-orcamento {
    border-top: 3px solid #2095f4;
    border-left: none;
}

/* navbar */

.navbar-static-top {
    background-color: #2196f3 !important;
}

.logo {
    background-color: #106ebb !important;
}

.content-wrapper {
    background-color: #f9f9f9fa;
}

.sidebar {
    background-color: #003d6f;
}

.skin-blue .main-sidebar {
    background-color: #003d6f !important;
}

.sidebar-menu {
    height: 100%;
}

.sidebar-menu>li {
    margin-bottom: 10px;
}

.sidebar-menu>li:hover {
    color: #fff;
}

.skin-blue .sidebar-menu>li:hover>a {
    color: #fff !important;
    background-color: #67676794 !important;
}

.active-menu {
    color: #2095f5;
}

.sidebar-menu li a {
    color: #fff !important;
}

.content {
    /*border-left: 2.3px solid #2095f4;*/
}

.header-menu-li,
.header-menu-li:hover {
    color: #333 !important;
    background: #fdd543;
    padding: 10px 25px 10px 15px !important;
    font-size: 12px;
}

/* menu-perfil */

.skin-blue .main-header li.user-header {
    background-color: #fdd543;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: #333333 !important;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    box-shadow: -3px 3px 22px #0000007a;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #fbfbfb;
    border-bottom: 1px solid #333333;
    /* border-left: 1px solid #3333337a; */
    box-shadow: 5px 3px 7px #0000007a;
}

.overf {
    overflow: auto;
}

.btn-menu-header {
    color: #fff !important;
    background-color: #333333 !important;
    border: 2px solid #333333;
    border-radius: 4px !important;
    width: 100px;
    transition: 0.3s;
}

.btn-menu-header:hover {
    color: #333333 !important;
    background-color: #fdd543 !important;
    border: 1px solid #fdd543;
    transition: 0.3s;
}

.btn-menu-perfil .fa-sign-out {
    font-size: 1.3em;
}

/* =====ADMIN==== */

/* ===HEADER=== */

.main-header .sidebar-toggle:before {
    content: "" !important;
}

#pessoas_main,
#plano_main,
#enderecos_main,
#mensagens_main {
    margin-top: 15px;
}

/* Painel - pessoas */

#pessoas_main .btn-default {
    background-color: #2095f4;
    color: #fff;
}

#pessoas_main .btn-default:hover {
    background-color: #fdd303;
    color: #fff;
}

#pessoas_main .box-header {
    margin: 17px 0 25px;
}

.input-pesquisa {
    width: 250px;
    margin-bottom: 30px;
}

#pessoas_main .link_opcoes_tabela {
    color: #fff;
    background-color: #2095f4;
    border: #999;
    border-radius: 3px;
    padding: 5px 10px;
}

#pessoas_main .link_opcoes_tabela:hover {
    background-color: #105f9e;
    transition: 0.3s;
}

/* =perfil= */

.foto-show .img-perfil {
    max-width: 100px;
}

.foto-show a {
    margin-left: 15px;
}

.foto-show a:hover {
    cursor: pointer;
}

.titulo-cliente-show {
    margin: 25px 0 0;
}

/* fim Painel - pessoas */

/* Painel - Estoque */

#plano_main .link_opcoes_tabela {
    color: #fff;
    background-color: #2095f4;
    border: #999;
    border-radius: 3px;
    padding: 5px 10px;
}

#plano_main .link_opcoes_tabela:hover {
    background-color: #105f9e;
    transition: 0.3s;
}

#plano_main .btn-default {
    background-color: #2095f4;
    color: #fff;
}

#plano_main .btn-default:hover {
    background-color: #fdd303;
    color: #fff;
    transition: 0.3s;
}

#plano_main .box-header {
    margin: 17px 0 25px;
}

.filtro-lista a {
    padding: 0 10px;
}

.active-lista {
    background-color: #003d6e;
    color: #fff !important;
    border-radius: 5px;
    padding: 4px 10px !important;
    border: 1px solid #003d6e;
}

.active-lista a {
    color: #fff !important;
}

.active-lista a:hover {
    background-color: #003d6e !important;
}

.active-lista a:focus {
    background-color: #003d6e !important;
}

.input-status {
    border: 1px solid #105f9e;
    border-radius: 4px;
    padding: 3px;
}

#plano_main .link_opcoes_tabela i {
    color: #000;
}

#plano_main .link_opcoes_tabela i:hover {
    color: #2095f4;
    transition: 0.3s;
}

.btn-action {
    background-color: #2095f4;
    color: #fff;
    border-radius: 5px;
    padding: 4px 10px !important;
    border: 1px solid #2095f4;
}

.btn-action:hover {
    background-color: #fff;
    color: #105f9e;
    transition: 0.3s;
}

/*Add*/

#form-add-estoque #status-produto-add {
    margin-top: 20px;
}

#form-add-estoque #status-produto-add {
    width: 100%;
}

/* Show */

.row .content_show_pessoas:first-of-type {
    border-right: 2px solid #2095f4;
}

.content_show_pessoas p {
    text-align: center;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 10px;
}

.content_show_pessoas p:first-of-type {
    font-size: 18px;
    color: #2095f4;
    font-weight: 700;
    border-bottom: none;
    margin-top: 40px;
}

#show_estoque .box-header h1 {
    margin-bottom: 0;
}

.tempo-restante-titulo {
    text-align: right;
}

.tempo-restante-titulo h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.estoque-card {
    padding: 4px;
    box-shadow: 0px 0px 5px #CCC;
    height: 300px;
    margin: 4px;
}

.estoque-card img {
    height: 225px;
}

/* fim Painel - Estoque */

/* // ========
* ALTERACAO nathan ADM 
========// */

.linha-table-top {
    margin-top: 15px;
}

.box-header-white {
    padding: 0 9px 20px;
    border-bottom: none !important;
    border: 0;
    background-color: #fff;
}

.input-group-btn .btn {
    background-color: #2095f4;
    color: #fff;
}

.box-body .fa-pencil-square-o:hover {
    cursor: pointer;
}

.box-body .fa-pencil-square-o {
    color: #333;
}

/* add - orcamento */

.table-campus {
    margin-bottom: 45px;
}

.form-show {
    border: 1px solid #cecece;
    border-radius: 3px;
    padding: 2px 4px;
    width: 100px;
}

#btn_salvar_orcamento {
    margin-left: 15px;
}

.box-blue {
    position: relative;
    border-radius: 0px;
    background: #2095f5;
    border-top: 1px solid #f4f4f4;
    margin-bottom: 20px;
    width: 100%;
}

.background-formulario-add-orcamento {
    background-color: #fff;
    border-radius: 0px;
    text-align: center;
}

#form-add-orcamento .form-group {
    margin-top: 30px;
}

#form-add-orcamento .form-group .form-control {
    border-radius: 3px;
    width: 70%;
    margin: 0 auto 40px;
}

#form-add-orcamento .form-group select {
    border-radius: 3px;
    width: 70%;
    margin: 10px auto 40px;
    height: 35px;
    background-color: #fff;
}

/* Painel - Enderecos */

#enderecos_main .link_opcoes_tabela {
    color: #fff;
    background-color: #2095f4;
    border: #999;
    border-radius: 3px;
    padding: 5px 10px;
}

#enderecos_main .link_opcoes_tabela:hover {
    background-color: #105f9e;
    transition: 0.3s;
}

#enderecos_main .btn-default {
    background-color: #2095f4;
    color: #fff;
}

#enderecos_main .btn-default:hover {
    background-color: #fdd303;
    color: #fff;
    transition: 0.3s;
}

#enderecos_main .box-header {
    margin: 17px 0 25px;
}

.input-pesquisa {
    width: 250px;
    margin-bottom: 30px;
}

#enderecos_main .link_opcoes_tabela i {
    color: #000;
}

#enderecos_main .link_opcoes_tabela i:hover {
    color: #2095f4;
    transition: 0.3s;
}

.select_cadastro {
    color: #999;
    width: 99%;
    height: 35px;
    border: 1px solid #dedede;
    background-color: transparent;
    margin: auto;
}

/* Show */

.name_featured {
    color: #2095f4;
    font-weight: 700;
}

.content-endereco {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #9999;
    padding: 10px 0px;
}

.content-endereco span {
    color: #2095f4;
    font-size: 20px;
    font-weight: 700;
    padding-right: 35px;
}

/* fim Painel - Enderecos */

/* Painel - Mensagens */

.input-alerta {
    /* text-align: center; */
    font-size: 18px;
    width: 85%;
    margin: 20px auto 20px 0;
    border-radius: 3px;
    border: 1px solid #c3c3c3;
    padding-top: 20px;
    width: 100%;
}

.input-alerta::-webkit-input-placeholder {
    color: #2095f4;
    font-size: 18px;
}

.input-alerta:-moz-placeholder {
    /* Firefox 18- */
    color: #2095f4;
    font-size: 18px;
}

.input-alerta::-moz-placeholder {
    /* Firefox 19+ */
    color: #2095f4;
    font-size: 18px;
}

.input-alerta:-ms-input-placeholder {
    color: #2095f4;
    font-size: 18px;
}

.alerta-direcionado::-webkit-input-placeholder {
    color: #dd4b39;
    font-size: 18px;
}

.alerta-direcionado:-moz-placeholder {
    /* Firefox 18- */
    color: #dd4b39;
    font-size: 18px;
}

.alerta-direcionado::-moz-placeholder {
    /* Firefox 19+ */
    color: #dd4b39;
    font-size: 18px;
}

.alerta-direcionado:-ms-input-placeholder {
    color: #dd4b39;
    font-size: 18px;
}

/* fim Painel - Mensagens */

/* =====FIM ADMIN==== */

/*  ========= HOME ===========*/

.htext {
    color: #2095f4;
    font-weight: 600;
}

.validateLink {
    border: 1px solid #2095f4;
    padding: 7px;
    transition: 0.3s;
}

.validateLink:hover {
    border: 1px solid #fdd303;
    padding: 10px;
    transition: 0.3s;
}

.conteudo-home h2 {
    background-color: #2095f4;
    color: #fff;
    text-align: center;
    margin: 0;
    border: 3px solid #2095f5;
    border-radius: 7px 7px 0 0;
    font-size: 18px;
    padding: 20px 0;
}

.content-block-home {
    background-color: #fff;
    border-left: 2px solid #2095f5;
    border-right: 2px solid #2095f5;
    border-bottom: 2px solid #2095f5;
    border-radius: 0px 0px 7px 7px;
    min-height: 165px;
}

.conteudo-home .inter-descricao {
    width: 100%;
    clear: both;
    display: table;
    padding: 15px;
}

.inter-descricao a {
    color: #333;
}

.inter-descricao .span-bold {
    font-weight: bold;
}

.inter-descricao .limit-text {
    white-space: pre;
    width: 22%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-blue-btn {
    background-color: #2095f5;
    color: #fff;
    transition: 0.3s;
}

.info-box-text {
    font-size: 20px !important;
    margin-top: 25px;
}

.btn-home {
    color: #333;
    background-color: #fff;
    font-size: 30px;
    padding: 0 0;
    display: table;
    margin: 10px auto;
    border-radius: 7px;
    width: 11em;
    text-align: center;
    border: 1px solid #2095f5;
    transition: 0.3s;
}

.btn-home:hover {
    border: 1px solid #fdd303;
    transition: 0.3s;
}

.btn-home:hover .bg-blue-btn {
    background-color: #fdd303;
    transition: 0.3s;
}

.text-white,
.text-white:hover,
.text-white:focus {
    color: white;
    text-align: center;
}

.textColorTema {
    color: #2095f4;
}

.boxColorTema {
    background-color: #2095f4;
    cursor: pointer;
    border: #2095f4;
    color: #fff;
}

.boxColorTema:hover,
.boxColorTema:focus {
    background-color: #fdd303;
    color: #fff;
    border: #fdd303;
    transition: 0.3s;
}

#guiaMain {
    display: block;
}

#prodEstoque {
    display: none;
}

#enders {
    display: none;
}

#docs {
    display: none;
}

#alter {
    display: none;
}

#bt1 {
    display: none;
}

#carrinho {
    display: none;
}

#orcamentos {
    display: none;
}

#novoTicket {
    display: none;
}

#credito {
    display: none;
}

#adm-confirmacao {
    display: none;
}

#adm-pago {
    display: none;
}

#adm_despachado {
    display: none;
}

#Pagos {
    display: none;
}

#Pagamento {
    display: none;
}

.paddingLft {
    padding-left: 15px;
}

.paddingRht {
    padding-right: 15px;
}

.slider {
    display: block;
    vertical-align: middle;
    position: relative;
}

.slider.slider-horizontal {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.slider.slider-horizontal:last-of-type {
    margin-bottom: 0;
}

.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}

.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
    height: 100%;
    top: 0;
    bottom: 0;
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -5px;
}

.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
    border-width: 0 10px 10px 10px;
    width: 0;
    height: 0;
    border-bottom-color: #0480be;
    margin-top: 0;
}

.slider.slider-horizontal .slider-tick-label-container {
    white-space: nowrap;
    margin-top: 20px;
}

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
    padding-top: 4px;
    display: inline-block;
    text-align: center;
}

.slider.slider-vertical {
    height: 230px;
    width: 20px;
    margin-right: 20px;
    display: inline-block;
}

.slider.slider-vertical:last-of-type {
    margin-right: 0;
}

.slider.slider-vertical .slider-track {
    width: 10px;
    height: 100%;
    margin-left: -5px;
    left: 50%;
    top: 0;
}

.slider.slider-vertical .slider-selection {
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.slider.slider-vertical .slider-track-low,
.slider.slider-vertical .slider-track-high {
    width: 100%;
    left: 0;
    right: 0;
}

.slider.slider-vertical .slider-tick,
.slider.slider-vertical .slider-handle {
    margin-left: -5px;
    margin-top: -10px;
}

.slider.slider-vertical .slider-tick.triangle,
.slider.slider-vertical .slider-handle.triangle {
    border-width: 10px 0 10px 10px;
    width: 1px;
    height: 1px;
    border-left-color: #0480be;
    margin-left: 0;
}

.slider.slider-vertical .slider-tick-label-container {
    white-space: nowrap;
}

.slider.slider-vertical .slider-tick-label-container .slider-tick-label {
    padding-left: 4px;
}

.slider.slider-disabled .slider-handle {
    background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
    background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
    background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}

.slider.slider-disabled .slider-track {
    background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
    cursor: not-allowed;
}

.slider input {
    display: none;
}

.slider .tooltip.top {
    margin-top: -36px;
}

.slider .tooltip-inner {
    white-space: nowrap;
}

.slider .hide {
    display: none;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f0f0f0, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #f9f9f9);
    background-image: -o-linear-gradient(top, #f0f0f0, #f9f9f9);
    background-image: linear-gradient(to bottom, #f0f0f0, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slider-selection {
    position: absolute;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slider-selection.tick-slider-selection {
    background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
    background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
    background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
}

.slider-track-low,
.slider-track-high {
    position: absolute;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #444;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    opacity: 1;
    border: 0px solid transparent;
}

.slider-handle.round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.slider-handle.triangle {
    background: transparent none;
}

.slider-handle.custom {
    background: transparent none;
}

.slider-handle.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: '\2605';
    color: #726204;
}

.slider-tick {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: none;
    opacity: 0.8;
    border: 0px solid transparent;
}

.slider-tick.round {
    border-radius: 50%;
}

.slider-tick.triangle {
    background: transparent none;
}

.slider-tick.custom {
    background: transparent none;
}

.slider-tick.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: '\2605';
    color: #726204;
}

.slider-tick.in-selection {
    background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
    background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
    background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef', endColorstr='#ff81bfde', GradientType=0);
    opacity: 1;
}

#aqua .slider-selection {
    background: #2095f4;
}

.btn-box4buy {
    background-color: 2095f4;
}

/*====================================================
                        DROPZONE-UPLOAD
======================================================*/

.custom-dropzone {
    cursor: pointer;
    border: #00C0EF88 dotted 2px;
    color: #7ebef3;
    padding: 20px;
    margin-bottom: 10px;
}

.dz-message {
    text-align: center;
    vertical-align: middle;
    color: #7ebef388;
    padding: 50px;
    font-size: 25px;
    font-weight: 600;
}

.custom-circle-size {
    height: 45px !important;
}

.notMarging {
    margin-left: 0;
    margin-right: 0;
}

/* ===== FIM PAINEL USUARIO ==============================*/

/* ======NATHAN NOVAMENTE 12/06/18===== */

.not-link {
    color: #333;
}

.margLef {
    margin-left: 10px;
}

/* CUSTOMIZAÇÕES - CARLOS ENCINE (NÃO MEXER AQUI) */

.bxby-logo {
    width: 200px;
    height: 44px;
}

.custom-modal {
    max-width: 880px;
}

.custom-modal-x2 {
    max-width: 1170px;
}

.img-modal {
    max-width: 1280px;    
}

.blocker {
    z-index: 9999;
}

.box.box-info {
    border-top-color: #2196f3;
}

.box.box-solid.box-info {
    border: #2196f3 1px solid;
}

.box.box-solid.box-info>.box-header {
    background: #2196f3;
}

.row {
    margin-bottom: 15px;
    vertical-align: middle;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* .nav-tabs-custom>.nav-tabs>li {
    width: 150px;
    height: 100px;
} */

.columns {
    float: left;
    /* width: 33.3%; */
    padding: 8px;    
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}


.price .header {
    background-color: #105f9e;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.img-list {
    padding: 5px;
}

.line-currency {
    font-size: 25px !important;
    margin-top: -75px;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.box-overlay {
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    text-align: center;
    float: left;
    padding-top: 16%;
}

.btn-rounded {
    border-radius: 2rem !important;
}

.btn-rounded-100 {
    border-radius: 100px;
}

.label {
    border-radius: 2rem !important;
}

span.label {
    font-size: 14px !important;

}

.slidercontainer {
    margin-top: 10px;
}

.bxby-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    line-height: 10px;
    border-radius: 5px;
    background: #2095f4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.bxby-slider:hover {
    opacity: 1;
}

.bxby-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fdd303; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #fdd303; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.notification {
    width: 340px !important;
}

.box-scroll {
    height: 313px;
    overflow-x: scroll;
}

/* FIM CUSTOMIZAÇÕES - CARLOS ENCINE */


/* INICIO CUSTOM - KAYCK */

.guia-ws h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableover {
    overflow: auto;
}

/* FIM CUSTOM - KAYCK */
